[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
